@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.gridInicial {
  display: grid;
  height: calc(100vh - 6rem);
  margin-top: 3rem;
  margin-bottom: 3rem;
  grid-template: 10rem 1fr 7rem 1fr / repeat(2, 1fr);
  row-gap: 2rem;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    font-family: "Gasoek One", sans-serif;
    letter-spacing: 2px;
    color: #f24405;
  }

  p {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 2.1rem;
    font-family: "Roboto Mono", monospace;
    line-height: 37px;
  }

  .logoHome {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
